<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar Internação</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="~{menuNavegacao.html}"></th:block>

<div class="container my-4">
    <h2 class="text-center mb-4">🏥 Cadastrar Internação</h2>
    <form th:action="@{/internacoes/salvar}" th:object="${internacao}" method="post">
		<input type="hidden" th:field="*{id}" />
        <div class="mb-3">
            <label for="paciente" class="form-label">Paciente:</label>
            <select id="paciente" name="paciente" class="form-select" th:field="*{paciente}" required>
                <option value="" disabled selected>Selecione um paciente</option>
                <option th:each="p : ${pacientes}" th:value="${p.id}" th:text="${p.nome}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="profissional" class="form-label">Profissional:</label>
            <select id="profissional" name="profissional" class="form-select" th:field="*{profissional}" required>
                <option value="" disabled selected>Selecione um profissional</option>
                <option th:each="prof : ${profissionais}" th:value="${prof.id}" th:text="${prof.nome}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="leito" class="form-label">Leito:</label>
            <select id="leito" name="leito" class="form-select" th:field="*{leito}" required>
                <option value="" disabled selected>Selecione um leito</option>
                <option th:each="l : ${leitos}" th:value="${l.id}" th:text="${l.numero}"></option>
            </select>
        </div>

        <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">💾 Salvar</button>
            <a th:href="@{/internacoes}" class="btn btn-danger">❌ Cancelar</a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
