<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">🏥 SGHSS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav ms-auto">
		        <li class="nav-item d-flex align-items-center" sec:authorize="isAuthenticated()">
		            <span class="text-white fw-bold me-2">
		                <span th:text="${#strings.toUpperCase(#authentication.name)}"></span>
		                -
		                <span th:text="${#strings.replace(#authentication.authorities[0], 'ROLE_', '')}"></span>
		            </span>
		            <form th:action="@{/logout}" method="post" class="d-inline">
		                <button type="submit" class="btn btn-outline-light">SAIR</button>
		            </form>
		        </li>
		    </ul>
		</div>
    </div>
</nav>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>